.body {
  margin:0;
  box-sizing: border-box;
}

/************************************Auth********************************************/
/******entire screen******/
.entire-auth-section-body {
  background:coral;
  background-image: linear-gradient(to right, #ff70a6,#ff9770,#ffd670,#e9ff70);
  height:100vh;
}

/*****box in center******/
.entire-auth-center-box {
  position:absolute;
  top:25vh;
  left:33vw;
  height:50vh;
  width:35vw;
  box-shadow: 1px 2px 5px 1px #403d39;
}

.auth-content-holder {
  display:flex;
  flex-direction:column;
  align-items:center;
  width:75%;
  height:90%;
  margin:4% auto
}

.auth-logo-name-holder {
  display:flex;
  flex-direction:column;
  align-items:center;
  height:90%;
  width:85%;
  margin-top:2vh
}

.auth-logo-name-holder > i {
  color:white;
  font-size:80px;
}

.auth-logo-name-holder > h1 {
  color:white;
  margin-top:10px;
  margin-bottom:0;
  font-size:50px;
  letter-spacing: 0.05em;
}

.auth-input-holder {
  display:flex;
  align-items: center;
  margin-top:0;
}

.auth-input-holder > p {
  color:white;
}

.auth-input-holder > input {
  margin-left:20px;
  height:20px;
  font-size:20px;
}

.auth-button-holder {
  display:flex;
  width:85%;
  justify-content:space-evenly;
  margin-top:5px;
}

.auth-button-holder > button {
  background:#403d39;
  color:white;
  height:30px;
  font-size:20px;
}

/************************************Nav********************************************/
.entire-nav-bar {
  background:coral;
  background-image: linear-gradient(to bottom,#ff9770,#ff70a6);
  position:absolute;
  top:0;
  height:100vh;
  min-width:10vw;
  display:flex;
  flex-direction:column;
  align-items:center;
  z-index:1;
}

.nav-bar-content-holder {
  flex-direction:column;
  display:flex;
  height:100%
}

.nav-bar-image-username-holder {
  text-align: center;
  height:25%;
}

.nav-bar-image-username-holder > img {
  height:100px;
  width:100px;
  border-radius:50%;
  margin-top:15px;
  box-shadow:2px 1px 5px 1px #403d39
}

.nav-bar-image-username-holder > h1 {
  margin-top:5px;
  margin-bottom: 0;
  color:white;
}

.nav-bar-routing-buttons-holder {
  display:flex;
  flex-direction: column;
  height: 70%;
  justify-content: space-between;
  margin-top:20px;
}

.nav-bar-dashboard-form-routing-button-holder {
  display:flex;
  flex-direction:column;
  align-items:center;
  height:30%;
  justify-content:space-between
}

/******************Loader****************************/
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*********************Dashboard**************************/
.entire-dashboard-section-body {
  width:90vw;
  margin-left:10vw;
  height:100vh;
  background:#f2f2f2;
  overflow-Y:scroll;
}

.dashboard-search-section {
  background:white;
  width:70%;
  margin-top:5vh;
  margin-left:15vw;
}

.dashboard-search-section > div {
  display:flex;
  align-items:center;
  justify-content:space-between;
}

.search-div {
  width:80%
}

.search-div > input {
  width:85%;
  height:25px;
  font-size:20px;
  margin-left:10px;
}

.search-div > button {
  height:30px;
  font-size: 20px;
  background:#403d39;
  color:white;
}

.my-post-div {
  display:flex;
  align-items: center;
}

/*******************New Post******************/
.entire-new-post-section {
  width:90vw;
  margin-left:10vw;
  height:100vh;
  background:#f2f2f2;
  overflow-Y:scroll;
}

.new-post-form {
  background:white;
  width:80%;
  height:95%;
  top:20px;
  left:9vw;
  position:relative;
  z-index: 0;
}

.new-post-header {
  background:blue;
  position:relative;
}

.new-post-header > h1 {
  color:#ff9770;
  margin-left: 3%;
  position: absolute; 
}

.new-post-content {
  width: 90%;
  /* background:red; */
  height:80%;
  position:absolute;
  top:8%;
  left:5%;
}

.new-post-title-input {
  display:flex;
  flex-direction: column;
}

.new-post-title-input > h3 {
  margin-bottom:0
}

.new-post-title-input > input {
  height:30px;
  font-size:25px;
}

.new-post-image-input {
  display:flex;
  flex-direction: column;
}

.new-post-image-input > h3 {
  margin-bottom:0
}

.new-post-image-input > input {
  height:30px;
  font-size:25px;
}

.new-post-content-input {
  display: flex;
  flex-direction: column;
}

.new-post-content-input > h3 {
  margin-bottom:0
}

.new-post-content-input > textarea {
  max-height:120px;
  min-height:120px;
  font-size:25px;
  min-width:99%;
  max-width:99%;
}

.new-post-post-button-div {
  position:absolute;
  bottom:3%;
  right:5%;
}

.new-post-post-button {
  background:#403d39;
  color:white;
  height:30px;
  font-size:20px;
}

