/************************************Auth********************************************/
/******entire screen******/
.entire-auth-section-body {
  background:coral;
  background-image: linear-gradient(to right, hotpink,coral,gold,lightgreen);
  height:100vh;
}

/*****box in center******/
.entire-auth-center-box {
  position:absolute;
  top:25vh;
  left:33vw;
  height:50vh;
  width:35vw;
  box-shadow: 1px 2px 5px 1px black;
}

.auth-content-holder {
  display:flex;
  flex-direction:column;
  align-items:center;
  width:75%;
  height:90%;
  margin:4% auto
}

.auth-logo-name-holder {
  display:flex;
  flex-direction:column;
  align-items:center;
  height:90%;
  width:85%;
  margin-top:2vh
}

.auth-logo-name-holder > i {
  color:white;
  font-size:80px;
}

.auth-logo-name-holder > h1 {
  color:white;
  margin-top:10px;
  margin-bottom:0;
  font-size:50px;
  letter-spacing: 0.05em;
}

.auth-input-holder {
  display:flex;
  align-items: center;
  margin-top:0;
}

.auth-input-holder > p {
  color:white;
}

.auth-input-holder > input {
  margin-left:20px;
  height:20px;
  font-size:20px;
}

.auth-button-holder {
  display:flex;
  width:85%;
  justify-content:space-evenly;
  margin-top:5px;
}

.auth-button-holder > button {
  background:black;
  color:white;
  height:30px;
  font-size:20px;
}

/************************************Nav********************************************/
.entire-nav-bar {
  background:coral;
  background-image: linear-gradient(to bottom,coral,hotpink);
  position:absolute;
  height:100vh;
  min-width:10vw;
  display:flex;
  flex-direction:column;
  align-items:center
}

.nav-bar-content-holder {
  flex-direction:column;
  display:flex;
  height:100%
}

.nav-bar-image-username-holder {
  text-align: center;
  height:25%;
}

.nav-bar-image-username-holder > img {
  height:100px;
  width:100px;
  border-radius:50%;
  margin-top:15px;
  box-shadow:2px 1px 5px 1px black
}

.nav-bar-image-username-holder > h1 {
  margin-top:5px;
  margin-bottom: 0;
  color:white;
}

.nav-bar-routing-buttons-holder {
  display:flex;
  flex-direction: column;
  height: 70%;
  justify-content: space-between;
  margin-top:20px;
}

.nav-bar-dashboard-form-routing-button-holder {
  display:flex;
  flex-direction:column;
  align-items:center;
  height:30%;
  justify-content:space-between
}

